Scores/Tests/Service References/ScoresService/ScoresService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64318/ScoresService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.DataContracts" />
  <xs:element name="GetAllMatches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="GetAllMatchesResult" nillable="true" type="q1:ArrayOfMATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiveMatches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiveMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="GetLiveMatchesResult" nillable="true" type="q2:ArrayOfMATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="GetAllBetsResult" nillable="true" type="q3:ArrayOfBET" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="GetAllTeamsResult" nillable="true" type="q4:ArrayOfTEAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMatches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="GetUserMatchesResult" nillable="true" type="q5:ArrayOfMATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesForBet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesForBetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="GetMatchesForBetResult" nillable="true" type="q6:ArrayOfBETS_MATCHES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLeagues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLeaguesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="GetAllLeaguesResult" nillable="true" type="q7:ArrayOfLEAGUE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="GetBetResult" nillable="true" type="q8:BET" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeagueTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLeague" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeagueTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="GetLeagueTableResult" nillable="true" type="q9:ArrayOfTEAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeague">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="league" nillable="true" type="q10:LEAGUE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeagueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeague">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="leagueList" nillable="true" type="q11:ArrayOfLEAGUE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeagueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToUserMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="matchesList" nillable="true" type="q12:ArrayOfMATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToUserMatchesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromMyMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Common.DataContracts" minOccurs="0" name="matchesList" nillable="true" type="q13:ArrayOfMATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromMyMatchesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>